name: CI for QuizBots

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  mail: ${{ secrets.GITHUBMAIL }}
  username: ${{ secrets.GITHUBNAME }}
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true

jobs:
  quizbot1:
    name: TSS-Bot
    runs-on: ubuntu-latest
    steps:
      - name: Clone The TSS Bot Repo
        run: git clone https://${{ env.username }}:${{ secrets.GH_TOKEN }}@github.com/${{ secrets.REPOSLUG }} tss

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        timeout-minutes: 5
        continue-on-error: false

      - name: Install project dependencies and run TSS Bot
        run: |
          cd tss
          sudo cp /etc/apt/sources.list /etc/apt/sources.list.bak
          echo "deb http://archive.ubuntu.com/ubuntu jammy main universe" | sudo tee /etc/apt/sources.list
          echo "deb http://security.ubuntu.com/ubuntu jammy-security main universe" | sudo tee -a /etc/apt/sources.list
          sudo apt update
          sudo apt --fix-broken install -y
          sudo apt-get install -y --fix-missing poppler-data libpoppler-dev poppler-utils
          sudo apt-get install -y libpango-1.0-0 libpangoft2-1.0-0
          pip install playwright
          playwright install
          playwright install chromium
          pip install -r requirements.txt
          python main.py
        timeout-minutes: 340
        continue-on-error: true

  quizbot2:
    name: BCS Odyssey Bot
    runs-on: ubuntu-latest
    steps:
      - name: Clone The BCS Odyssey Bot Repo
        run: git clone https://${{ env.username }}:${{ secrets.GH_TOKEN }}@github.com/${{ secrets.REPOSLUG2 }} bcs

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        timeout-minutes: 5
        continue-on-error: false

      - name: Install project dependencies and run BCS Odyssey Bot
        run: |
          cd bcs
          pip install -r requirements.txt
          python main.py
        timeout-minutes: 340
        continue-on-error: true

  pdfcsv:
    name: TSS PDF-CSV
    runs-on: ubuntu-latest
    steps: 
      - name: Clone The Repository
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/${{ secrets.PDFCSV }} pdfcsv
          cd pdfcsv
        timeout-minutes: 5
        continue-on-error: false
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        timeout-minutes: 5
        continue-on-error: false
          
      - name: Install Python dependencies, Chromium & Poppler-utils
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing poppler-data libpoppler-dev poppler-utils
          cd pdfcsv
          sudo apt-get install -y libpango-1.0-0 libpangoft2-1.0-0 \
          
          pip install -r requirements.txt
        timeout-minutes: 10
        continue-on-error: false
         
      - name: Run the bot
        run: |
          cd pdfcsv
          python main.py
        timeout-minutes: 340  # Almost 6 hours for the bot itself
        continue-on-error: true

  quizbot3:
    name: TSS-Atlas Bot
    runs-on: ubuntu-latest
    steps:
      - name: Clone The TSS-Atlas Bot Repo
        run: git clone --branch atlas2 https://${{ env.username }}:${{ secrets.GH_TOKEN }}@github.com/${{ secrets.REPOSLUG }} tssatlas

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        timeout-minutes: 5
        continue-on-error: false

      - name: Install project dependencies and run TSS Bot
        run: |
          cd tssatlas
          sudo cp /etc/apt/sources.list /etc/apt/sources.list.bak
          echo "deb http://archive.ubuntu.com/ubuntu jammy main universe" | sudo tee /etc/apt/sources.list
          echo "deb http://security.ubuntu.com/ubuntu jammy-security main universe" | sudo tee -a /etc/apt/sources.list
          sudo apt update
          sudo apt --fix-broken install -y
          sudo apt-get install -y --fix-missing poppler-data libpoppler-dev poppler-utils
          sudo apt-get install -y libpango-1.0-0 libpangoft2-1.0-0
          pip install playwright
          playwright install
          playwright install chromium
          pip install -r requirements.txt
          python main.py
        timeout-minutes: 340
        continue-on-error: true

  quizbot4:
    name: Atlas Advanced Bot
    runs-on: ubuntu-latest
    steps: 
      - name: Clone The Repository
        run: |
          git clone --branch Atlas https://${{ secrets.GH_TOKEN }}@github.com/${{ secrets.REPOSLUGATLAS }} atlas
          cd atlas
        timeout-minutes: 5
        continue-on-error: false
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        timeout-minutes: 5
        continue-on-error: false
          
      - name: Install Python dependencies, Chromium & Poppler-utils
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing poppler-data libpoppler-dev poppler-utils
          cd atlas
          sudo apt-get install -y libpango-1.0-0 libpangoft2-1.0-0 \
          
          pip install -r requirements.txt
        timeout-minutes: 10
        continue-on-error: false
         
      - name: Run the bot
        run: |
          cd atlas
          python main.py
        timeout-minutes: 340  # Almost 6 hours for the bot itself
        continue-on-error: true


  looper:
    name: Run QuizBot loop
    needs: [quizbot1, quizbot2, pdfcsv, quizbot3, quizbot4]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Git Configs & Secrets
        run: |
          git config --global user.email "${{ env.mail }}"
          git config --global user.name "${{ env.username }}"
          git config --global pull.rebase false
          git config --global credential.helper store
          echo "https://${{ env.username }}:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials

      - name: Create an empty commit
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/${GITHUB_REPOSITORY} temp
          cd temp
          git commit --allow-empty -m "[LOOP] Re-run XenonCI workflow"
          git push
